In [3]:
import sqlite3
import pandas as pd

con = sqlite3.connect("proj6_readings.sqlite")
cur = con.cursor()
result = cur.execute("SELECT count(*) from readings;").fetchall()
df = pd.DataFrame(result)
df

          0
0  50000000

In [4]:
df = pd.read_sql("SELECT count(*) from readings;", con)
df

   count(*)
0  50000000

In [9]:
df_ex_1 = pd.read_sql("SELECT count(DISTINCT detector_id) from readings;", con)

import pickle
with open("proj6_ex01_detector_no.pkl", "wb") as ex1:
    pickle.dump(df_ex_1, ex1)

In [12]:
df_ex_2 = pd.read_sql("SELECT detector_id, count(count), min(starttime), max(starttime) from readings group by detector_id;", con)

with open("proj6_ex02_detector_stat.pkl", "wb") as ex2:
    pickle.dump(df_ex_2, ex2)

In [30]:
df_ex_3 = pd.read_sql("SELECT detector_id, count, LAG(count) OVER (ORDER BY starttime) AS prev_count from readings where detector_id=146 LIMIT 500;", con)

with open("proj6_ex03_detector_146_lag.pkl", "wb") as ex3:
    pickle.dump(df_ex_3, ex3)

In [41]:
df_ex_4 = pd.read_sql("SELECT detector_id, count, SUM(count) OVER (ORDER BY starttime ROWS BETWEEN CURRENT ROW AND 10 FOLLOWING) AS window_sum from readings where detector_id=146 LIMIT 500;", con)

with open("proj6_ex04_detector_146_sum.pkl", "wb") as ex4:
    pickle.dump(df_ex_4, ex4)

     detector_id  count  window_sum
0            146      1           2
1            146      0           2
2            146      0           2
3            146      0           2
4            146      0           2
..           ...    ...         ...
495          146      0          20
496          146      2          22
497          146      2          21
498          146      2          21
499          146      2          21

[500 rows x 3 columns]